@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: "Roboto Mono", monospace;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  background: #0d0d0d 0% 0% no-repeat padding-box;
}
